.cover {
  height: inherit;
  background-color: #2ac1bc;
  color: white;

  .title {
    font-size: 72px;
    font-weight: bold;
  }

  .button {
    width: 300px;
    height: 80px;
    font-size: 28px;
    color: white;
  }

  .icon {
    position: absolute;
    fill: white;
  }
}
