* {
  box-sizing: border-box;
}

html {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  position: relative;
  width: 700px;
  height: 1200px;
}

header {
  height: 70px;
}

main {
  height: 1000px;
}

#root {
  border: 1px solid black;
  border-radius: 10px;
  height: 100%;
}
