* {
  box-sizing: border-box;
}

html {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

body {
  position: relative;
  width: 700px;
  height: 1200px;
  background-color: white;
  overflow: hidden;
}

#root {
  display: flex;

  .page {
    width: 700px;
    height: 1200px;
  }
}

header {
  height: 70px;
}

main {
  height: 838px;
}

footer {
  position: relative;
  height: 292px;
  z-index: 1;
}
