.result {
  padding: 30px;
  height: inherit;

  .title {
    width: 100%;
    text-align: left;
    font-size: 40px;
    font-weight: bolder;
  }

  .receipt {
    margin: auto;
    font-size: 20px;
    border: solid 2px #2ac1bc;
    border-radius: 50px;

    .container {
      height: 900px;
      padding: 30px;

      .content {
        width: 80%;

        .number {
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
  }
}
