.bottom {
  background-color: #111;
  height: 40%;
  padding: 0 30px;

  .button {
    width: 100px;
    height: 100%;
    font-size: 20px;
    color: white;
  }
}

.middle {
  background-color: #222;
  height: 60%;

  .button {
    width: 50%;
    height: 100%;
    font-size: 30px;
    color: white;
  }
}

.top {
  float: left;
  position: relative;
  background-color: #333;
  height: 200px;
  width: 100%;
  z-index: -1;
  display: none;
}
