.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.nowrap {
    flex-wrap: nowrap;
  }

  &.overflowX {
    overflow-x: auto;
  }

  * {
    flex-shrink: 0;
  }

  &.align {
    &-center {
      align-items: center;
    }
    &-start {
      align-items: start;
    }
  }

  &.justify {
    &-center {
      justify-content: center;
    }
    &-start {
      justify-content: start;
    }
    &-spaceBetween {
      justify-content: space-between;
    }
    &-spaceAround {
      justify-content: space-around;
    }
  }
}
